asgiref==3.2.10
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
dj-database-url==0.5.0
Django==3.1
django-heroku==0.3.1
django-shortcuts==1.6
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
init==0.1.0
numpy==1.19.1
panda==0.3.1
pandas==1.1.0
pd==0.0.1
psycopg2==2.8.5
PyJWT==1.7.1
python-dateutil==1.5
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
terminal==0.4.0
twilio==6.45.0
urllib3==1.25.10
whitenoise==5.2.0
